*.o
*.obj
*.res
*.a
*.exe
*.lib
*.log
*.map
*.ncb
*.suo
*.idb
*.pdb
*.exp
*.mk
#*#
*.backup
.vs
_OUTPUT*
QueueAdmin/bin
QueueAdmin/obj
QueueCaller/bin
QueueCaller/obj
QueueDisplay/bin
QueueDisplay/obj
QueueService/bin
QueueService/obj
QueueTicket/bin
QueueTicket/obj
TobasaLib/bin
TobasaLib/obj
_res
_notes