<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tobasa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Tobasa.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=127.0.0.1,1433;User ID=antrian;Initial Catalog=antri"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Tobasa.Properties.Settings>
            <setting name="QueueServerHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="QueueServerPort" serializeAs="String">
                <value>2345</value>
            </setting>
            <setting name="StationName" serializeAs="String">
                <value>CALL#1</value>
            </setting>
            <setting name="StationPost" serializeAs="String">
                <value>POST0</value>
            </setting>
            <setting name="SecuritySalt" serializeAs="String">
                <value>C4BC3A3AC2D6D367A74580388B20BC069C96B048DFEAF5CCDC0CE1E25BF23F39</value>
            </setting>
            <setting name="ConnectionStringPassword" serializeAs="String">
                <value>ad7415644add93d6e719d2b593da6e6e</value>
            </setting>
            <setting name="QueueUserName" serializeAs="String">
                <value>tobasaqueue</value>
            </setting>
            <setting name="QueuePassword" serializeAs="String">
                <value>e4ee0e54215f5e3dd7683923abe1dac8</value>
            </setting>
            <setting name="UIPostList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>POST0|Apotik</string>
                        <string>POST1|Laboratorium</string>
                        <string>POST2|Pendaftaran RJ</string>
                        <string>POST3|BPJS Kesehatan</string>
                        <string>POST4|Customer Service</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UpdateDisplayJobStatusPost" serializeAs="String">
                <value>POST0</value>
            </setting>
            <setting name="BasicQueueMode" serializeAs="String">
                <value>True</value>
            </setting>
        </Tobasa.Properties.Settings>
    </userSettings>
</configuration>
