<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tobasa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tobasa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <applicationSettings>
    <Tobasa.Properties.Settings>
      <setting name="AppName" serializeAs="String">
        <value>Tobasa Queue Display</value>
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="MaxQueueNumber" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MaxStationNumber" serializeAs="String">
        <value>10</value>
      </setting>
    </Tobasa.Properties.Settings>
  </applicationSettings>
  <startup />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <Tobasa.Properties.Settings>
      <setting name="VideoSource" serializeAs="String">
        <value>VideoClip</value>
      </setting>
      <setting name="VideoInputDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="VideoInputDeviceSource" serializeAs="String">
        <value>SVideo</value>
      </setting>
      <setting name="VideoCLipMode" serializeAs="String">
        <value>PlayFromFolder</value>
      </setting>
      <setting name="StartDisplayFullScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VideoInputDevicePath" serializeAs="String">
        <value />
      </setting>
      <setting name="VideoInputDeviceName" serializeAs="String">
        <value />
      </setting>
      <setting name="QueueServerHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="QueueServerPort" serializeAs="String">
        <value>2345</value>
      </setting>
      <setting name="StationName" serializeAs="String">
        <value>DISP#1</value>
      </setting>
      <setting name="StationPost" serializeAs="String">
        <value>POST0</value>
      </setting>
      <setting name="NumberAudioLocation" serializeAs="String">
        <value>.\wav</value>
      </setting>
      <setting name="QueueAnimationTimeInSecond" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="Post0Caption" serializeAs="String">
        <value>APOTIK</value>
      </setting>
      <setting name="Post0Post" serializeAs="String">
        <value>POST0</value>
      </setting>
      <setting name="Post0Name" serializeAs="String">
        <value>Apotik</value>
      </setting>
      <setting name="Post1Caption" serializeAs="String">
        <value>LABORATORIUM</value>
      </setting>
      <setting name="Post1Post" serializeAs="String">
        <value>POST1</value>
      </setting>
      <setting name="Post1Name" serializeAs="String">
        <value>Laboratorium</value>
      </setting>
      <setting name="Post2Caption" serializeAs="String">
        <value>PENDAFTARAN RJ</value>
      </setting>
      <setting name="Post2Post" serializeAs="String">
        <value>POST2</value>
      </setting>
      <setting name="Post2Name" serializeAs="String">
        <value>Pendaftaran</value>
      </setting>
      <setting name="Post3Caption" serializeAs="String">
        <value>BPJS KESEHATAN</value>
      </setting>
      <setting name="Post3Post" serializeAs="String">
        <value>POST3</value>
      </setting>
      <setting name="Post3Name" serializeAs="String">
        <value>BPJS Kesehatan</value>
      </setting>
      <setting name="Post0RunText" serializeAs="String">
        <value>Apotik</value>
      </setting>
      <setting name="Post1RunText" serializeAs="String">
        <value>Laboratorium</value>
      </setting>
      <setting name="Post2RunText" serializeAs="String">
        <value>Pendaftaran</value>
      </setting>
      <setting name="Post3RunText" serializeAs="String">
        <value>BPJS</value>
      </setting>
      <setting name="NumberAnimationColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="Post3Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DSEngineVolumeLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StartNumberWithUnderscore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VideoClipLocation" serializeAs="String">
        <value>.\movie</value>
      </setting>
      <setting name="PlayVideoAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReceiveMessageFromOtherPost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QueueUserName" serializeAs="String">
        <value>tobasaqueue</value>
      </setting>
      <setting name="QueuePassword" serializeAs="String">
        <value>e4ee0e54215f5e3dd7683923abe1dac8</value>
      </setting>
      <setting name="UIPostList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>POST0</string>
            <string>POST1</string>
            <string>POST2</string>
            <string>POST3</string>
            <string>POST4</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="RunningText0" serializeAs="String">
        <value>Selamat Datang</value>
      </setting>
      <setting name="RunningText1" serializeAs="String">
        <value>Terimakasih</value>
      </setting>
      <setting name="Post0PlayAudio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Post1PlayAudio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Post2PlayAudio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Post3PlayAudio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AudioSpellNumber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLogo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayLogoImg" serializeAs="String">
        <value>.\img\DisplayLogoImg.png</value>
      </setting>
      <setting name="DisplayLogoText" serializeAs="String">
        <value>Tobasa Queue System</value>
      </setting>
      <setting name="BasicQueueMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SecuritySalt" serializeAs="String">
        <value>C4BC3A3AC2D6D367A74580388B20BC069C96B048DFEAF5CCDC0CE1E25BF23F39</value>
      </setting>
      <setting name="Post4Caption" serializeAs="String">
        <value>CUSTOMER SERVICE</value>
      </setting>
      <setting name="Post4Post" serializeAs="String">
        <value>POST4</value>
      </setting>
      <setting name="Post4Name" serializeAs="String">
        <value>Customer Service</value>
      </setting>
      <setting name="Post4RunText" serializeAs="String">
        <value>Customer Service</value>
      </setting>
      <setting name="Post4PlayAudio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Post4Visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PlaySimpleSoundNotification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateNumberFromOtherPost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowInfoTextTop0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowInfoTextTop1" serializeAs="String">
        <value>False</value>
      </setting>
    </Tobasa.Properties.Settings>
  </userSettings>
</configuration>