<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tobasa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tobasa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Tobasa.Properties.Settings>
            <setting name="QueueServerHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="QueueServerPort" serializeAs="String">
                <value>2345</value>
            </setting>
            <setting name="StationPost" serializeAs="String">
                <value>POST0</value>
            </setting>
            <setting name="StationName" serializeAs="String">
                <value>TICKET#1</value>
            </setting>
            <setting name="PrintTicket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Post0Caption" serializeAs="String">
                <value>Apotik - Penyerahan Resep</value>
            </setting>
            <setting name="Post0Post" serializeAs="String">
                <value>POST0</value>
            </setting>
            <setting name="Post0Name" serializeAs="String">
                <value>Apotik</value>
            </setting>
            <setting name="Post0Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post1Caption" serializeAs="String">
                <value>Daftar Laboratorium</value>
            </setting>
            <setting name="Post1Post" serializeAs="String">
                <value>POST1</value>
            </setting>
            <setting name="Post1Name" serializeAs="String">
                <value>Laboratorium</value>
            </setting>
            <setting name="Post1Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post2Caption" serializeAs="String">
                <value>Pendaftaran Rawat Jalan</value>
            </setting>
            <setting name="Post2Post" serializeAs="String">
                <value>POST2</value>
            </setting>
            <setting name="Post2Name" serializeAs="String">
                <value>Pendaftaran</value>
            </setting>
            <setting name="Post2Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post3Caption" serializeAs="String">
                <value>BPJS Kesehatan</value>
            </setting>
            <setting name="Post3Post" serializeAs="String">
                <value>POST3</value>
            </setting>
            <setting name="Post3Name" serializeAs="String">
                <value>BPJS Kesehatan</value>
            </setting>
            <setting name="Post3Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post3Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartDisplayFullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QueueUserName" serializeAs="String">
                <value>tobasaqueue</value>
            </setting>
            <setting name="QueuePassword" serializeAs="String">
                <value>e4ee0e54215f5e3dd7683923abe1dac8</value>
            </setting>
            <setting name="Post0BtnImgOn" serializeAs="String">
                <value>.\img\ButtonGreenOn.png</value>
            </setting>
            <setting name="Post0BtnImgOff" serializeAs="String">
                <value>.\img\ButtonGreenOff.png</value>
            </setting>
            <setting name="Post1BtnImgOn" serializeAs="String">
                <value>.\img\ButtonGreenOn.png</value>
            </setting>
            <setting name="Post1BtnImgOff" serializeAs="String">
                <value>.\img\ButtonGreenOff.png</value>
            </setting>
            <setting name="Post2BtnImgOn" serializeAs="String">
                <value>.\img\ButtonGreenOn.png</value>
            </setting>
            <setting name="Post2BtnImgOff" serializeAs="String">
                <value>.\img\ButtonGreenOff.png</value>
            </setting>
            <setting name="Post3BtnImgOn" serializeAs="String">
                <value>.\img\ButtonGreenOn.png</value>
            </setting>
            <setting name="Post3BtnImgOff" serializeAs="String">
                <value>.\img\ButtonGreenOff.png</value>
            </setting>
            <setting name="RunningText0" serializeAs="String">
                <value>Selamat Datang</value>
            </setting>
            <setting name="RunningText1" serializeAs="String">
                <value>Terimakasih</value>
            </setting>
            <setting name="PrintFooter" serializeAs="String">
                <value>TOBASA QUEUE</value>
            </setting>
            <setting name="Post0PrintCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Post1PrintCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Post2PrintCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Post3PrintCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Post4Caption" serializeAs="String">
                <value>Customer Service</value>
            </setting>
            <setting name="Post4Post" serializeAs="String">
                <value>POST4</value>
            </setting>
            <setting name="Post4Name" serializeAs="String">
                <value>Customer Service</value>
            </setting>
            <setting name="Post4Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post4Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post4BtnImgOn" serializeAs="String">
                <value>.\img\ButtonGreenOn.png</value>
            </setting>
            <setting name="Post4BtnImgOff" serializeAs="String">
                <value>.\img\ButtonGreenOff.png</value>
            </setting>
            <setting name="Post4PrintCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Post0PrintHeader" serializeAs="String">
                <value>Apotik</value>
            </setting>
            <setting name="Post1PrintHeader" serializeAs="String">
                <value>Laboratorium</value>
            </setting>
            <setting name="Post2PrintHeader" serializeAs="String">
                <value>Pendaftaran RJ</value>
            </setting>
            <setting name="Post3PrintHeader" serializeAs="String">
                <value>BPJS Kesehatan</value>
            </setting>
            <setting name="Post4PrintHeader" serializeAs="String">
                <value>Customer Service</value>
            </setting>
            <setting name="DrawLabelOnButtons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ButtonLabelFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="MainMenuLabelAlignment" serializeAs="String">
                <value>Middle</value>
            </setting>
            <setting name="MainMenuLabelFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Post5Caption" serializeAs="String">
                <value>POLI GIGI</value>
            </setting>
            <setting name="Post5Post" serializeAs="String">
                <value>POST5</value>
            </setting>
            <setting name="Post5Name" serializeAs="String">
                <value>Poli Gigi</value>
            </setting>
            <setting name="Post5Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post5Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post5BtnImgOn" serializeAs="String">
                <value>.\img\ButtonGreenOn.png</value>
            </setting>
            <setting name="Post5BtnImgOff" serializeAs="String">
                <value>.\img\ButtonGreenOff.png</value>
            </setting>
            <setting name="Post5PrintCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Post5PrintHeader" serializeAs="String">
                <value>Poli Gigi</value>
            </setting>
            <setting name="Post6Caption" serializeAs="String">
                <value>POLI ANAK</value>
            </setting>
            <setting name="Post6Post" serializeAs="String">
                <value>POST6</value>
            </setting>
            <setting name="Post6Name" serializeAs="String">
                <value>Poli Anak</value>
            </setting>
            <setting name="Post6Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post6Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post6BtnImgOn" serializeAs="String">
                <value>.\img\ButtonGreenOn.png</value>
            </setting>
            <setting name="Post6BtnImgOff" serializeAs="String">
                <value>.\img\ButtonGreenOff.png</value>
            </setting>
            <setting name="Post6PrintCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Post6PrintHeader" serializeAs="String">
                <value>Poli Anak</value>
            </setting>
            <setting name="Post7Caption" serializeAs="String">
                <value>POLI MATA</value>
            </setting>
            <setting name="Post7Post" serializeAs="String">
                <value>POST7</value>
            </setting>
            <setting name="Post7Name" serializeAs="String">
                <value>Poli Mata</value>
            </setting>
            <setting name="Post7Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post7Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post7BtnImgOn" serializeAs="String">
                <value>.\img\ButtonGreenOn.png</value>
            </setting>
            <setting name="Post7BtnImgOff" serializeAs="String">
                <value>.\img\ButtonGreenOff.png</value>
            </setting>
            <setting name="Post7PrintCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Post7PrintHeader" serializeAs="String">
                <value>Poli Mata</value>
            </setting>
            <setting name="Post8Caption" serializeAs="String">
                <value>POLI KULIT</value>
            </setting>
            <setting name="Post8Post" serializeAs="String">
                <value>POST8</value>
            </setting>
            <setting name="Post8Name" serializeAs="String">
                <value>Poli Kulit</value>
            </setting>
            <setting name="Post8Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post8Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post8BtnImgOn" serializeAs="String">
                <value>.\img\ButtonGreenOn.png</value>
            </setting>
            <setting name="Post8BtnImgOff" serializeAs="String">
                <value>.\img\ButtonGreenOff.png</value>
            </setting>
            <setting name="Post8PrintCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Post8PrintHeader" serializeAs="String">
                <value>Poli Kulit</value>
            </setting>
            <setting name="Post9Caption" serializeAs="String">
                <value>POLI THT</value>
            </setting>
            <setting name="Post9Post" serializeAs="String">
                <value>POST9</value>
            </setting>
            <setting name="Post9Name" serializeAs="String">
                <value>Poli THT</value>
            </setting>
            <setting name="Post9Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post9Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post9BtnImgOn" serializeAs="String">
                <value>.\img\ButtonGreenOn.png</value>
            </setting>
            <setting name="Post9BtnImgOff" serializeAs="String">
                <value>.\img\ButtonGreenOff.png</value>
            </setting>
            <setting name="Post9PrintCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Post9PrintHeader" serializeAs="String">
                <value>Poli THT</value>
            </setting>
            <setting name="Post0Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Post2Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLeftMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRightMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Classic</value>
            </setting>
            <setting name="MainBrandingImage" serializeAs="String">
                <value>.\img\MainBrandingImage.png</value>
            </setting>
            <setting name="UseMainBrandingImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainLogoText" serializeAs="String">
                <value>Tobasa Queue System</value>
            </setting>
            <setting name="LogoImage" serializeAs="String">
                <value>.\img\MainLogo.png</value>
            </setting>
        </Tobasa.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Tobasa.Properties.Settings>
      <setting name="SecuritySalt" serializeAs="String">
        <value>C4BC3A3AC2D6D367A74580388B20BC069C96B048DFEAF5CCDC0CE1E25BF23F39</value>
      </setting>
      <setting name="UIPostList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>POST0</string>
            <string>POST1</string>
            <string>POST2</string>
            <string>POST3</string>
            <string>POST4</string>
            <string>POST5</string>
            <string>POST6</string>
            <string>POST7</string>
            <string>POST8</string>
            <string>POST9</string>
          </ArrayOfString>
        </value>
      </setting>
    </Tobasa.Properties.Settings>
  </applicationSettings>
</configuration>
