<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tobasa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tobasa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Tobasa.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=127.0.0.1,1433;User ID=antrian;Initial Catalog=antri"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <Tobasa.Properties.Settings>
            <setting name="ListenPort" serializeAs="String">
                <value>2345</value>
            </setting>
        </Tobasa.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Tobasa.Properties.Settings>
            <setting name="ConnectionStringPassword" serializeAs="String">
                <value>ad7415644add93d6e719d2b593da6e6e</value>
            </setting>
            <setting name="SecuritySalt" serializeAs="String">
                <value>C4BC3A3AC2D6D367A74580388B20BC069C96B048DFEAF5CCDC0CE1E25BF23F39</value>
            </setting>
            <setting name="MaxQueueNumber" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="FilterClientIPAddress" serializeAs="String">
                <value>False</value>
            </setting>
        </Tobasa.Properties.Settings>
    </userSettings>
</configuration>
