<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tobasa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Tobasa.Properties.Settings.ConnectionString_MSSQL"
            connectionString="Provider=SQLOLEDB;Data Source=127.0.0.1,1433;User ID=antrian;Initial Catalog=antri;" />
        <add name="Tobasa.Properties.Settings.ConnectionString_MYSQL"
            connectionString="Data Source=127.0.0.1;User ID=antrian;Initial Catalog=antri;" />
        <add name="Tobasa.Properties.Settings.ConnectionString_SQLITE"
            connectionString="Data Source=.\Database\antri.db3;Version=3;" />
        <add name="Tobasa.Properties.Settings.ConnectionString_PGSQL"
            connectionString="Data Source=127.0.0.1;User ID=antrian;Initial Catalog=antri;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <Tobasa.Properties.Settings>
            <setting name="ListenPort" serializeAs="String">
                <value>2345</value>
            </setting>
            <setting name="SecuritySalt" serializeAs="String">
                <value>C4BC3A3AC2D6D367A74580388B20BC069C96B048DFEAF5CCDC0CE1E25BF23F39</value>
            </setting>
            <setting name="MaxQueueNumber" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="FilterClientIPAddress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProviderType" serializeAs="String">
                <value>SQLITE</value>
            </setting>
            <setting name="ConnectionStringPassword" serializeAs="String">
                <value>ad7415644add93d6e719d2b593da6e6e</value>
            </setting>
        </Tobasa.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
